PUBLIC_SANITY_PROJECT_ID=zh3wqn4s
PUBLIC_SANITY_DATASET=production
PUBLIC_SANITY_API_VERSION=2026-03-18
PUBLIC_SANITY_PERSPECTIVE=published
PUBLIC_SANITY_USE_CDN=true
DEBUG_ENABLE_JSON_FALLBACK=false
SANITY_READ_TOKEN=

PUBLIC_WDR_SUPABASE_URL=
PUBLIC_WDR_SUPABASE_ANON_KEY=
